@model IEnumerable<ShopSite.Server.Models.Home.IndexViewModel>
@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    @foreach (var categoryItems in Model)
    {
        <h1>@categoryItems.Category</h1>
        <hr />
        foreach (var item in categoryItems.items)
        {
            <div class="row">
                @item.Title
            </div>
            <div class="row">
                @item.Description
            </div>
            <div class="row text-right">
                @item.Price
            </div>
            <br />
        }
        <hr />
    }
@section scripts{
    <script>
        $("div[data-action='up'").click(function () {
            var id = $(this).attr("data-id");
            voteClick(id, 1);
        });
        $("div[data-action='down'").click(function () {
            var id = $(this).attr("data-id");
            voteClick(id, -1);
        });

        function voteClick(id, voteType) {


            $.post("/Votes/Vote", { postId: id, voteType: voteType },
                function (data) {
                    var newVotesCount = data.Count;
                    $("div[data-action='votesCount'][data-id='" + id + "']").html(newVotesCount)
                });
        }
    </script>
}