@model ShopSite.Server.Models.Items.ItemSearchViewModel
@{
    ViewBag.Title = "Index";
}

@Html.Partial("SearchPanel");

@if (Model.Items != null)
{
    foreach (var item in Model.Items)
    {
        @Html.Partial("ItemPartial", item)
    }

    <nav>
        <ul class="pagination">
            @if (Model.CurrentPage > 1)
            {
                <li>
                    <a href="/Item/ViewPage/@(Model.CurrentPage - 1)/@Model.PageSize" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                var className = string.Empty;
                if (Model.CurrentPage == i)
                {
                    className = "active";
                }
                <li class="@className"><a href="/Item/ViewPage/@i/@Model.PageSize">@i</a></li>
            }
            @if (Model.CurrentPage < Model.TotalPages)
            {
                <li>
                    <a href="/Item/ViewPage/@(Model.CurrentPage + 1)/@Model.PageSize" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
        </ul>
    </nav>
}

@section scripts{
    <script>

    </script>

}
