@model ShopSite.Server.Models.Items.ItemResponseViewModel
@{
    ViewBag.Title = "ItemPartial";
}

<div class="row">
    @Model.Title
</div>
<div class="row">
    @Model.Description
</div>
<div class="row text-right">
    @Model.Price
</div>
<br />

