@model ShopSite.Server.Models.Items.ItemResponseViewModel
@{
    ViewBag.Title = "ItemPartial";
}

<div class="row">
   <a href="/Item/Details/@Model.Id">@Model.Title</a>
</div>
<div class="row">
    @Model.Description
</div>
<div class="row text-right">
    @Model.Price
</div>
<br />

